body {
    font-family: 'Fira Sans', sans-serif;
}
h1, h4 {
    font-weight: 600;
    text-align: center;
}
p {
    width: 800px;
}
.intro {
    margin: auto;
    width: 50%;
}
#inputs {
    position: static;
    margin: auto;
    width: 900px;
    height: 100px;
    border-width: thick;
    border-style: solid;
    border-color: #f2f2f2;
}
#play-button {
    position: relative;
    left: 47%;
    background: #f08080;
    border-radius: 2px;
    font-size: 20px;
    border: none;
    color: black;
    margin: 2px;
    width: auto;
    cursor: pointer;
    height: auto;
}

#play-button:hover {
    background-color: #696969;
} 
#month {
    position: static;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: #333333;
    height: 50px;
    font-weight: 700;
    font-size: 110%;
}
#monthLabel, #radios {
    text-align: center;
    font-weight: 700;
    height: auto;
    width: auto;
    margin-top: 0px;
    margin-bottom: 5px;
}
#radios {
    text-align: center;
    font-weight: 300;
    height: auto;
    width: auto;
    margin-top: 0px;
    margin-bottom: 5px;
}

#keyBar {
    position:relative;
    bottom:20px;
    width: 400;
    height: 50px;
}
#mm {
    position: relative;
    font-size: 10px;
    margin: auto;
    top: 35px;
}
#map {
    position: static;
    text-align: center;
}
.background {
    fill: #eee;
    }

.map-layer {
    fill: #fff;
    stroke: #aaa;
    }
.effect-layer {
    pointer-events:none;
}
.axis path,
.axis line{
    fill: none;
    stroke: black;
  }
.line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}
  .tick text{
    font-size: 12px;
}
  .tick line{
    opacity: 0.2;
}
.slide {
    -webkit-appearance: none;
    width: 95%;
    padding: 0px;
    height: 10px;
    border-radius: 20px;
    background: #eee;
    outline: none;
    opacity:0.8;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
}

.slide:hover {
    opacity:1;
}

.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 4px solid #000000;
    background: #f4581a;
    cursor: pointer;
}

.slide::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 3px solid #000000;
    border-radius: 100%;
    background: #f6691c;
    cursor: pointer;
}
#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    opacity: .7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0,
    0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.
    4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}
#note p{
    position: relative;
    font-size: 10px;
    margin: auto;
}
